[submodule "isaaclab"]
	path = isaaclab
	url = /home/aditya/Desktop/Projects/M4PO/isaaclab
[submodule "unitree_sim_isaaclab_ref"]
	path = unitree_sim_isaaclab_ref
	url = https://github.com/unitreerobotics/unitree_sim_isaaclab.git
